.cart {
  position: sticky;
  top: 0;
}
.order-title {
  text-align: center;
  font-size: 24px;
}

.select-btn {
  width: 60%;
  margin: auto;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.choose-btn {
  display: block;
  padding: 10px 15px;
  border: none;
  background-color: rgb(255, 104, 4);
  color: rgb(0, 0, 0);
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
}

.again-btn {
  display: block;
  padding: 10px 15px;
  border: none;
  background-color: rgb(255, 171, 14);
  color: rgb(0, 0, 0);
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
  margin-bottom: 20px;
}

@media only screen and (max-width: 576px) {
  .select-btn {
    width: 100%;
  }

  .order-title {
    font-size: 12px;
  }
}
